#search {
  padding: 20px 0;
  .search {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
    &--card {
      width: 27.8%;
      border: 2px solid white;
      padding: 30px 0;
      border-radius: 20px;
      -webkit-box-shadow: 0 0 45px 10px rgba(255, 255, 255, 0.82);
      -moz-box-shadow: 0 0 45px 10px rgba(255, 255, 255, 0.82);
      box-shadow: 0 0 45px 10px rgba(255, 255, 255, 0.82);
      h2 {
        color: white;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}

